@page "/LeverancierDossierInzien/{candidateId}/{contractId}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Http
@using Models
@inject NavigationManager NavigationManager

@using Services;
@using Ipsen5_groep01_frontend.Requests

@inject LoginService LoginService
@inject FileUploadService FileUploadService
@inject ContractService ContractService
@inject RequestMakerService RequestMakerService

@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@inject NotificatieService NotificationService
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@inject GetColorService GetColorService;


<div class="customer-container-background">
<div class="button-container">
        <button class="navigate-button" @onclick="()=>navigate()">Terug</button>
    </div>
    <div class="page-title">@_contract.JobDescription</div>
    <div class="customer-container">
        <div class="customer-header">
            <div class="header-title">Naam</div>
            <div class="header-title"></div>
            <div class="header-title">Geupload op</div>
            <div class="header-title">Status</div>
            <div class="header-title">Upload Bestand</div>
            <div class="header-title">Template</div>
        </div>

        @if (candidateDocuments != null)
        {
            @foreach (var document in candidateDocuments)
            {
                <div class="customers">
                    <div>@GetUploadTypeName(@document.UploadTypeId)</div>
                    <div></div>
                    <div>@if(document.UpdatedDate.ToString() == "1-1-0001 00:00:00"){
                        <p>--</p>
                        } else {
                            @document.UpdatedDate
                        }
                    </div>
                    <div class="status" style="background-color: @GetColorService.GetBackgroundColor(document.Status)">@document.Status</div>
                    <div class="uploadclass">@if(document.Status == "New" || document.Status == "Afgekeurd"){
                        <InputFile class="eye_icon" OnChange="HandleFileSelected" @onclick:stopPropagation/>
                        <button class="view_customer" @onclick="() => OnUploadButtonClick(document.Id.ToString(), candidateId, document.ContractId.ToString(), GetUploadTypeName(document.UploadTypeId), document)">
                            <img class="eye_icon" src="/icons/upload.png"/>
                        </button>
                    }</div>
                    <img class="edit_icon" src="/icons/download.png" alt="Bewerk" @onclick="() => DownloadDocument(GetUploadTypeName(document.UploadTypeId))"/>
                </div>

            }
        }
        else
        {
            <tr>
                <td colspan="2">Geen documenten gevonden.</td>
            </tr>
        }
    </div>
    @if (_contract != null)
    {
        <div class="contract-note-container">
            <label for="contractNote">Opmerkingen voor het contract:</label>
            <textarea id="contractNote" readonly>@_contract.Note</textarea>
        </div>
    }
</div>
<script>
    window.downloadFile = function (url, fileName) {
        var link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', fileName);
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    };
</script>


@code {
    [Parameter]
    public required string candidateId { get; set; }

    [Parameter]
    public required string contractId { get; set; }
    private InputFileChangeEventArgs? file;

    private List<CandidateDocumentModel>? candidateDocuments;
    private List<UploadTypeModel> _uploadTypes = [];

    private Contract _contract = new Contract();
    private UploadType uploadType;

    protected override void OnInitialized()
    {
        RequestMakerService = new RequestMakerService(new HttpClient());
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadContracts();
        await LoadDocuments();
        await GetAllUploadTypesAsync(true);
        await GetAllUploadTypesAsync(false);

    }

    private string GetUploadTypeName(Guid uploadTypeId)
    {
        var uploadType = _uploadTypes.FirstOrDefault(ut => ut.Id == uploadTypeId);
        return uploadType?.Type ?? "Unknown";
    }

    private async Task LoadContracts(){
    }

    private async Task UpdateDocumentStatus(CandidateDocumentModel document){
        CandidateDocumentModelRequest request = new CandidateDocumentModelRequest();
        request.CandidateDocumentDto = document;

        request.CandidateDocumentDto.UpdatedDate = DateTime.Now;

        if (RequestMakerService != null)
        {
            await RequestMakerService.MakePatchRequest("CandidateDocument/updateDocumentUpdatedTime", request);
        }
    }

    private async Task LoadDocuments()
    {
        var _candidateId = Guid.Parse(candidateId);
        var _contractId = Guid.Parse(contractId);
        await ContractService.getContractsByCandidateId(candidateId.ToString());
        var contract = ContractService.Contracts.FirstOrDefault(c => c.Id.ToString() == contractId.ToString());
        _contract = contract;
        if (contract != null)
        {
            candidateDocuments = contract.CandidateDocumentsDto;
        }
    }

    private async Task DownloadDocument(string UploadTypeName){
        var response = await RequestMakerService.MakeGetRequest($"BlobStorage/downloadTemplateFile/{_contract.CustomerId}/{UploadTypeName}");
        var contentDisposition = response.Content.Headers.ContentDisposition;
        var fileName = contentDisposition?.FileNameStar ?? contentDisposition?.FileName ?? "downloaded_file";
        fileName = Uri.UnescapeDataString(fileName);
        string downloadsPath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.UserProfile), "Downloads");
        var filePath = Path.Combine(downloadsPath, fileName);

        using (var fileStream = new FileStream(filePath, FileMode.Create, FileAccess.Write, FileShare.None))
        {
            await response.Content.CopyToAsync(fileStream);
        }

        var downloadUrl = $"https://staffingnowdocuments.blob.core.windows.net/myfiles/{_contract.CustomerId}/Templates/{UploadTypeName}/{fileName}";

        if(fileName != "downloaded_file"){
            await JSRuntime.InvokeVoidAsync("downloadFile", downloadUrl, fileName);
        }
        else{
            NotificationService.Notify("Voor dit document is er geen template", NotificationType.Error);
        }


    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LoginService.setIsAdmin(false);
            LoginService.setLoggedIn(true);
        }
    }

    public void navigate()
    {
        this.NavigationManager.NavigateTo($"/LeverancierDossierScherm/{candidateId}");
        ResetSelectedContract();
    }

    private void ResetSelectedContract()
    {
        contractId = "";
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {       
        file = e;
    }

    private async Task OnUploadButtonClick(string documentId, string candidateId, string contractId, string uploadTypeName, CandidateDocumentModel document)
{
    if (file == null)
    {
        NotificationService.Notify("Selecteer een bestand om te uploaden", NotificationType.Warning);
        return;
    }
    else{
        await UploadFile(documentId, file, candidateId, contractId, uploadTypeName, document);
    }
    
}


    private async Task UploadFile(string documentId, InputFileChangeEventArgs e, string candidateId, string contractId, string uploadTypeName, CandidateDocumentModel document)
    {
        var file = e.File;
   
        if (file == null)
        {
            NotificationService.Notify("Selecteer een bestand om te uploaden", NotificationType.Warning);
        }

        using (var memoryStream = new MemoryStream())
        {
            
            try{
                await file.OpenReadStream().CopyToAsync(memoryStream);
                memoryStream.Seek(0, SeekOrigin.Begin);
                var result = await FileUploadService.UploadFileAsync(memoryStream, file.Name, candidateId, contractId, uploadTypeName);
                NotificationService.Notify($"Het document {uploadTypeName} is geupload", NotificationType.Success);
                document.Status = "Wachten op beoordeling";

                CandidateDocumentModelRequest request = new CandidateDocumentModelRequest();
                request.CandidateDocumentDto = document;

                await RequestMakerService.MakePatchRequest("CandidateDocument/updateDocumentStatus", request);
                await UpdateDocumentStatus(document);
            }
            catch(Exception exception){
                NotificationService.Notify("Het document is niet geupload.", NotificationType.Error);
            }
           
        }

        
    }



    public async Task<List<UploadTypeModel>> GetAllUploadTypesAsync(bool required)
    {
        var response = await RequestMakerService.MakeGetRequest($"uploadtype/alluploadtypes?required={required}");
        var json = await response.Content.ReadAsStringAsync();

        var outerObject = JObject.Parse(json);
        var contractArray = outerObject?["result"]?["uploadTypeDto"];

        if(contractArray == null){
            return [];
        }

        foreach (var jToken in contractArray)
        {
            var uploadType = new UploadTypeModel();
            uploadType.Id = ParseGuid(jToken, "id");
            uploadType.Type = ParseString(jToken, "type");
            uploadType.DocumentType = ParseString(jToken, "documentType");
            uploadType.Required = ParseBool(jToken, "required");

            _uploadTypes.Add(uploadType);
        }

        return _uploadTypes;
    }

    private Guid ParseGuid(JToken token, string key)
{
    var valueToken = token[key];
    return valueToken != null && Guid.TryParse(valueToken.ToString(), out Guid parsedId) ? parsedId : Guid.Empty;
}

private string ParseString(JToken token, string key)
{
    return token[key]?.ToString() ?? string.Empty;
}

private bool ParseBool(JToken token, string key)
{
    var valueToken = token[key];
    return valueToken != null && bool.TryParse(valueToken.ToString(), out bool parsedBool) ? parsedBool : false;
}

private DateTime ParseDateTime(JToken token, string key)
{
    var valueToken = token[key];
    return valueToken != null && DateTime.TryParse(valueToken.ToString(), out DateTime parsedDate) ? parsedDate : DateTime.MinValue;
}

private double ParseDouble(JToken token, string key)
{
    var valueToken = token[key];
    return valueToken != null && double.TryParse(valueToken.ToString(), out double parsedDouble) ? parsedDouble : 0.0;
}

private byte[] ParseByteArray(JToken token, string key)
{
    var valueToken = token[key];
    return valueToken != null ? Convert.FromBase64String(valueToken.ToString()) : Array.Empty<byte>();
}
}
